
.game_container {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
}
.snake{
    position: absolute;
    width: 2%;
    height: 2%;
    background-color:#000;
    z-index: 2;
}
.snake_food{
    position: absolute;
    width: 2%;
    height: 2%;
    border: 1.5px solid #434342;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    background-color: #e5c89c;
    z-index: 1;
}
.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    font-size: 300%;
    font-family: m5x7;
    transition: background-color 500ms, font-size 500ms;

}
.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 1000s forwards;
}